<ion-header>
    <ion-toolbar hideBackButton="true">
      <ion-buttons slot="start">
          <ion-menu-button>Menu</ion-menu-button>
      </ion-buttons>
      <ion-title>Contact</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-icon name="call" item-left></ion-icon>
          <a ion-button href="tel:+918080810793">+91-8080810793</a>
          <p>10:30AM-5:30PM Mon to Sat</p>
        </ion-item>
        <ion-item>
            <ion-icon name="logo-whatsapp" item-left></ion-icon>
            <a ion-button href="sms:+918080810793">+91-8080810793</a>
        </ion-item>
        <ion-item>
          <ion-icon name="link" item-left></ion-icon>
          <a href="http://www.truejobsindia.com">www.truejobsindia.com</a>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-facebook" item-left></ion-icon>
          <a href="https://www.facebook.com/TrueJobsMumbai/" >TrueJobsMumbai</a>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-linkedin" item-left></ion-icon>
           <a href="https://www.linkedin.com/in/maanchahal">maanchahal</a>
        </ion-item>
        <ion-item>
            <ion-icon name="logo-twitter" item-left></ion-icon>
             <a href="https://twitter.com/Maan_TrueJobs">@Maan_TrueJobs</a>
          </ion-item>
      </ion-list>
</ion-content>