// app-home {
    // ion-card {
    //     font-size: 1.0em;
    // }

    // .card-background-page {
        // ion-card {
        //   position: relative;
        //   text-align: center;
        // }
      
        .card-title {
          position: absolute;
          top: 18%;
          font-size: 1.3em;
          width: 100%;
          font-weight: bold;
          color: blue;
          text-align: center;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 35%;
          width: 100%;
          font-weight: bold;
          color: blue;
          text-align: center;
        }
    // }
// }